<h1>List of public repices</h1>
<% @public_recipes.each do |recipe| %>
    <div class="public_recipes">
        <div>
            <p><%= recipe.name %></p>
            <p><%= recipe.user.name %></p>
        </div>
        <div>
            
        </div>